<!--<ng-template appRef></ng-template>-->

<!--<nav class="navbar">-->
<!--    <h1>Angular Modules</h1>-->

<!--    <ul>-->
<!--        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li>-->
<!--        <li routerLinkActive="active"><a routerLink="/about">About</a></li>-->
<!--    </ul>-->
<!--</nav>-->

<!--<div class="container">-->
<!--    <div class="card">-->

<!--        <router-outlet></router-outlet>-->

<!--    </div>-->

<!--    <button class="btn" (click)="showModal()">Show modal</button>-->
<!--&lt;!&ndash;    <app-popap *ngIf="modal"&ndash;&gt;-->
<!--&lt;!&ndash;            title="Modal Window"&ndash;&gt;-->
<!--&lt;!&ndash;            (close)="modal = false"&ndash;&gt;-->
<!--&lt;!&ndash;    ></app-popap>&ndash;&gt;-->
<!--</div>-->

<app-counter></app-counter>



